<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <Link rel="stylesheet" href="../Pizza/Pizza.css"></Link>

</head>

<body>
    <main>
        <dev class="globalName">
            <dev id="devNameResto" class="devNameResto">
                <img class="restoranLogo" src="../img/restoranLogo.jpeg">
                <p id="nameResto" class="nameResto"> R E S T O R A N T</p>
            </dev>
            <dev id="devNameRestoPizza" class="devNameRestoPizza">
                <h1 id="nameResto" class="NameRestoPizza"> P i z z a</h1>
            </dev>
        </dev>
        <dev class="pizzaDev">
            <% Pizzas.forEach(item => { %>
                <ul>
                    <img src="<%= item.imageUrl %>" alt="<%= item.title %>">
                    <li>
                        <h2>
                            <%= item.title %>
                        </h2>
                        <p>Price: $
                            <%= item.price %>
                        </p>
                        <p>Size:
                            <%= item.sizes %>

                        </p>
                        <p>Category:
                            <%= item.category %>
                        </p>
                        <p>Rating:
                            <%= item.rating %>
                        </p>
                    </li>

                </ul>
                <a class="button" href="#" style="--color: #1e9bff;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>Enjoin
                </a>

                <% }) %>
        </dev>
    </main>


    <%- include('../partials/footer') %>

</body>

</html>